body{
  background-color: #9C835F;
}

nav a{
  text-decoration: none;
}

.card {
  border: 0;
}

img {
  max-width: 35%;
}
.paperImg{
  max-width: 25%;
}

.reset {
  max-width: 3%;
}

.selectedStyle{
  background: #C4C4C4;
  padding: 5px;
  border-radius: 5px;
}
